{
    email   contact@owonafx.com
}

place2connect.com {
    reverse_proxy place2connect-ui:3000
    encode gzip zstd
    file_server
    tls contact@owonafx.com #Your email for Let's Encrypt Verification

}

api.place2connect.com {
    reverse_proxy place2connect-api:8080
    encode gzip zstd
    file_server
    tls contact@owonafx.com #Your email for Let's Encrypt Verification

}

db.place2connect.com {
    reverse_proxy postgres:5432
    encode gzip zstd
    file_server
    tls contact@owonafx.com #Your email for Let's Encrypt Verification

}

